{% extends 'store/base.html' %}
{% block content %}
    <p><em>I'm lost. I'm like a king without a throne.</em></p>
    <p>L'album que vous demandez est parti écouter Sarah Vaughan à la suite d'une rupture sentimentale.</p>
    <p>Nous partons à l'instant même le secourir !</p>
    {% include 'store/search_form.html' %}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E9Rl1GvTsiA" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
